*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  background-color: #e2e2e2;
  display: grid;
  grid-template-rows: 10vh 34vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Space Mono", monospace;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f5f6fa;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f5f6fa; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #0097e6;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f5f6fa; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #0097e6;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #13334c; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.navigation {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .navigation__title {
    font-size: 6rem;
    color: #273c75;
    display: grid;
    grid-gap: 0.2em; }
  .navigation__sub {
    color: #273c75; }
  .navigation__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2em; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 2rem;
    color: #273c75;
    text-decoration: none;
    font-family: "Space Mono", monospace;
    text-align: center;
    padding: 0;
    display: block;
    transition: all .2s;
    border-bottom: 1px solid #0097e6;
    transition: all .2s; }
  .navigation__link:hover {
    background-color: #0097e6;
    color: #f5f6fa;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .navigation__link:active {
    background-color: rgba(255, 255, 255, 0.2); }

.header {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(39, 60, 117, 0.73), rgba(39, 60, 117, 0.73)), url(../img/power-tool-outside.jpg);
  -webkit-box-shadow: inset 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center; }

.homes {
  grid-column: center-start / center-end;
  margin: 7rem 0;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 7em; }

.home {
  background-color: #f5f6fa;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  display: grid;
  justify-items: center; }
  .home__img {
    width: 100%; }
  .home__name {
    z-index: 3;
    width: 100%;
    font-family: "Space Mono", monospace;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #f5f6fa;
    color: #273c75;
    font-weight: 400; }
  .home:hover {
    transform: translateY(-1.5rem) scale(1.03); }
