*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  background-color: #dbe2ef;
  display: grid;
  grid-template-rows: 12rem min-content min-content min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Space Mono", monospace;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f2f3f3;
  line-height: 1; }

.heading-2 {
  font-size: 3rem;
  line-height: 1; }
  .heading-2--light {
    color: #f2f3f3; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #f9f7f7;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f2f3f3; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  color: #3f72af;
  border: 1px solid;
  border-radius: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  padding: 0 .2rem;
  margin-left: .5rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #dbe2ef; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.about {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7rem;
  margin: 7rem 0;
  align-items: center; }
  .about__testemp, .about__shinko, .about__brainchild {
    border-radius: 2px;
    min-height: 30rem;
    background-color: rgba(17, 45, 78, 0.9);
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media only screen and (max-width: 900px) {
      .about__testemp, .about__shinko, .about__brainchild {
        grid-template-columns: 1fr; } }
  .about__text {
    color: #fff;
    font-size: 1.7rem;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .about__logo,
  .about .shinko__logo {
    justify-self: center;
    align-self: center;
    padding: 2rem; }
  .about__title {
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    padding: 2rem;
    font-family: "Space Mono", monospace;
    color: #f9f7f7; }
  .about__bg {
    z-index: -100;
    background-image: linear-gradient(rgba(63, 114, 175, 0.73), rgba(63, 114, 175, 0.73)), url(../img/power-tool-outside.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 2 / 4;
    grid-column: 1 / -1; }
  @media only screen and (max-width: 900px) {
    .about .shinko_logo {
      grid-row: 1 / 2; } }

.navigation {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .navigation__bg {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: #f9f7f7;
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75); }
  .navigation__title {
    font-size: 6rem;
    display: grid;
    grid-gap: 0.2em; }
  .navigation__logo {
    text-decoration: none;
    color: #112d4e;
    width: 30rem; }
  .navigation__sub {
    color: #3f72af; }
    @media only screen and (max-width: 500px) {
      .navigation__sub {
        display: none; } }
  .navigation__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2em; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 2rem;
    color: #112d4e;
    text-decoration: none;
    font-family: "Space Mono", monospace;
    text-align: center;
    padding: 0;
    display: block;
    transition: all .2s;
    border-bottom: 1px solid #3f72af;
    transition: all .2s; }
  .navigation__link:hover {
    background-color: #112d4e;
    color: #dbe2ef;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .navigation__link:active {
    background-color: rgba(255, 255, 255, 0.2); }
  .navigation__checkbox, .navigation__icon, .navigation__background, .navigation__button {
    display: none; }
  @media only screen and (max-width: 1000px) {
    .navigation__button {
      display: block;
      background-color: #112d4e;
      height: 7rem;
      width: 7rem;
      position: fixed;
      top: 2rem;
      right: 2rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer; }
    .navigation__background {
      display: block;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 2.5rem;
      right: 2.5rem;
      background-image: radial-gradient(#3f72af, #112d4e);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    .navigation__icon {
      display: inline-block;
      position: relative;
      margin-top: 3.5rem; }
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3rem;
        height: 2px;
        background-color: #f9f7f7;
        display: inline-block; }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; }
      .navigation__icon::before {
        top: -.8rem; }
      .navigation__icon::after {
        top: .8rem; }
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80); }
    .navigation__checkbox:checked ~ .navigation__nav {
      opacity: 1;
      width: 100%; }
    .navigation__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .navigation__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%; }
    .navigation__item {
      margin: 1rem; }
    .navigation__link:link, .navigation__link:visited {
      font-size: 3rem;
      padding: 1rem 2rem;
      color: #fff;
      transition: all .4s;
      border-bottom: 1px solid #112d4e; }
    .navigation__link:hover {
      background-color: #112d4e; }
    .navigation__button:hover .navigation__icon::before {
      top: -1rem; }
    .navigation__button:hover .navigation__icon::after {
      top: 1rem; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      background-color: transparent; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg); } }

.features {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  .features__bg {
    background-color: #f9f7f7;
    grid-column: 1 / -1;
    grid-row: 3 / 4; }

.feature {
  z-index: 100;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #3f72af;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    color: #3f72af;
    font-size: 1.7rem; }
  .feature__list {
    list-style: none; }

.products {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4em; }

.product {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  display: grid;
  grid-template-rows: 1fr 1fr; }
  .product__img {
    border-radius: 2px;
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / 2; }
  .product__name {
    border-radius: 2px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: end;
    z-index: 3;
    width: 100%;
    font-family: "Space Mono", monospace;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #112d4e;
    clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%, 50% 0%);
    color: #f9f7f7;
    font-weight: 400; }
  .product:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.contact {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7rem;
  margin: 7rem 0;
  align-items: center; }
  .contact__details, .contact__company, .contact__opening {
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    font-size: 1.7rem;
    padding: 2rem;
    color: #fff;
    background-color: rgba(17, 45, 78, 0.9); }
  .contact__header {
    margin-bottom: 1rem;
    text-align: center; }
  .contact__bg {
    z-index: -100;
    background-image: linear-gradient(rgba(63, 114, 175, 0.73), rgba(63, 114, 175, 0.73)), url(../img/dark-warehouse.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 2 / 4;
    grid-column: 1 / -1; }
  @media only screen and (min-width: 900px) {
    .contact {
      grid-template-columns: 1fr 1fr; }
      .contact__opening {
        grid-column: span 2; }
      .contact .map-responsive {
        grid-column: span 2; } }

.map-responsive {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.footer {
  background-color: #3f72af;
  grid-column: full-start / full-end;
  grid-row: 4 / 5;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s;
    border-bottom: 1px solid #112d4e; }
  .nav__link:hover, .nav__link:active {
    background-color: #112d4e;
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #ecf0f1;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%; }

.compression {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7rem;
  margin: 7rem 0;
  align-items: center; }
  .compression__img {
    width: 100%;
    border-radius: 2px;
    justify-self: center; }
  .compression__opening {
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    font-size: 1.7rem;
    padding: 2rem;
    color: #fff;
    background-color: rgba(17, 45, 78, 0.73); }
  .compression__header {
    margin-bottom: 1rem;
    text-align: center; }
  .compression__bg {
    z-index: -100;
    background-image: linear-gradient(rgba(63, 114, 175, 0.73), rgba(63, 114, 175, 0.73)), url(../img/dark-warehouse.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 2 / 4;
    grid-column: 1 / -1; }
  @media only screen and (min-width: 900px) {
    .compression {
      grid-template-columns: 1fr; }
      .compression__opening {
        grid-column: span 2; } }
