.about {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 7rem 0;
    align-items: center;

    &__testemp,
    &__shinko,
    &__brainchild {
        border-radius: 2px;
        min-height: 30rem;
        background-color: rgba($color-secondary-dark, 0.90);
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0 1.5rem 4rem rgba(#000, .15);

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        color: $color-white;
        font-size: 1.7rem;
        padding: 2rem;
        margin: 2rem;
        box-shadow: 0 1.5rem 4rem rgba(#000, .40);
    }

    &__logo,
    .shinko__logo {
        justify-self: center;
        align-self: center;
        padding: 2rem;
    }


    &__title {
        justify-self: center;
        align-self: center;
        font-size: 3rem;
        padding: 2rem;
        font-family: $font-display;
        color: $color-primary;
    }

    &__bg {
        z-index: -100;
        background-image: linear-gradient(rgba($color-secondary, .73), rgba($color-secondary, .73)), url(../img/power-tool-outside-small.jpg);
        background-size: cover;
        background-position: center;
        grid-row: 2 / 4;
        grid-column: 1 / -1;

        @media (min-resolution: 192dpi) and (min-width: $bp-small) {
            background-image: linear-gradient(rgba($color-secondary, .73), rgba($color-secondary, .73)), url(../img/power-tool-outside.jpg);
        }
    }
}