.about {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    height: 80rem;
    align-items: center;
    background-color: rgba($color-white, 0.7);
    box-shadow: 0 1.5rem 4rem rgba(#000, .15);

    &__text--testemp,
    &__text--shinko {
        color: $color-secondary;
        font-size: 1.7rem;
        padding: 2rem;
    }

    &__logo {
        justify-self: start;
    }

    &__bg {
        background-image: linear-gradient(rgba($color-secondary, .73), rgba($color-secondary, .73)), url(../img/dark-warehouse.jpg);
        background-size: cover;
        background-position: center;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }
}