.item {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7rem;
    margin: 7rem 0;
    align-items: center;

    &__img {
        width: 80%;
        border-radius: 2px;
    }

    &__opening {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2rem;
        border-radius: 2px;
        box-shadow: 0 1.5rem 4rem rgba(#000, .40);
        font-size: 1.7rem;
        padding: 2rem;
        color: $color-white;
        background-color: rgba($color-secondary-dark, 0.73);
    }

    &__title {
        align-self: center;
        background-color: rgba($color-secondary-dark, 0.73);
        box-shadow: 0 1.5rem 4rem rgba(#000, .40);
    }

    &__header {
        margin-bottom: 1rem;
        text-align: center;
    }

    &__bg {
        z-index: -100;
        background-image: linear-gradient(rgba($color-secondary, .73), rgba($color-secondary, .73)), url(../img/dark-warehouse.jpg);
        background-size: cover;
        background-position: center;
        grid-row: 2 / 4;
        grid-column: 1 / -1;
    }

    @media only screen and (min-width: 900px){
        
    }
}