.header {
    background-color: $color-grey-dark-1;
    grid-column: 1 / -1;
    background-image: linear-gradient(to right bottom, rgba($color-primary, .8), rgba($color-secondary, .8)), url(../img/dark-warehouse.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;

    display: grid;
    grid-template-rows: 1fr repeat(minmax(3rem, min-content), 3);
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
    

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__btn {
        grid-row: 4 / 5;
        align-self: end;
        justify-self: start;
    }

    &__main {
        grid-column: 1;
        align-self: start;
    }

    &__title--1 {
        grid-row: 2 / 3;
    }

    &__title--2 {
        grid-row: 3 / 4;
    }
}

.nav-btn {
    border: none;
    border-radius: 0;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 0;
    margin-right: 3rem;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }

    &::before { transform: translateY(-1.2rem); }
    &::after { transform: translateY(1rem); }
}

.navigation__list {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
}