.homes {
    grid-column: center-start / center-end;
    margin: 7rem 0;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);

    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 7em;
}

.home {
    background-color: $color-grey-light-1;
    box-shadow: 0 1.5rem 4rem rgba(#000, .15);
    transition: transform .3s;
    display: grid;
    justify-items: center;
    
    &__img {
        width: 100%; 
    }

    &__name {
        z-index: 3;
        width: 100%;
        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-grey-light-1;
        color: $color-secondary;
        font-weight: 400;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}