.navigation {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__bg {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        background-color: $color-primary;
        box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    }

    &__title {
        font-size: 6rem;
        display: grid;
    }

    &__logo {
        text-decoration: none;
        color: $color-secondary-dark;
        width: 30rem;
        @media only screen and (max-width: $bp-small) {
            width: 25rem;
        }
    }

    &__sub {
        color: $color-secondary;
        @media only screen and (max-width: $bp-small) {
            font-size: 1.1rem;
        }
    }

    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 2em;
    }

    &__link:link,
    &__link:visited {
        font-size: 2rem;
        color: $color-secondary-dark;
        text-decoration: none;
        font-family: $font-display;
        text-align: center;
        padding: 0;
        display: block;
        transition: all .2s;
        border-bottom: 1px solid $color-secondary;
    }

    &__link:hover {
        background-color: $color-secondary-dark;
        color: $color-primary-dark;
        box-shadow: 0 1rem 2rem rgba(#000, .15);
        transform: translateY(-2px);
    }
    &__link:active {
        background-color: rgba(#fff, .20);
    } 

    &__checkbox,
    &__icon,
    &__background,
    &__button {
        display: none;
    }

    @media only screen and (max-width: 1000px) {
        &__button {
            display: block;
            background-color: $color-secondary-dark;
            height: 7rem;
            width: 7rem;
            position: fixed;
            top: 2rem;
            right: 1rem;
            border-radius: 50%;
            z-index: 2000;
            box-shadow: 0 1rem 3rem rgba(#000, .1);
            text-align: center;
            cursor: pointer;
        }

        &__background {
            display: block;
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            position: fixed;
            top: 2.5rem;
            right: 1.5rem;
            background-image: radial-gradient($color-secondary, $color-secondary-dark);
            z-index: 1000;
            transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        }

        &__icon {
            display: inline-block;
            position: relative;
            margin-top: 3.5rem;
    
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: $color-primary;
                display: inline-block;
            }
    
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }
    
            &::before { top: -.8rem; }
            &::after { top: .8rem; }
        }
    
        &__checkbox:checked ~ &__background {
            transform: scale(80);
        }
    
        &__checkbox:checked ~ &__nav {
            opacity: 1;
            width: 100%;
        }

        &__nav {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1500;
            opacity: 0;
            width: 0;
            transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: absolute;
            top: 33.33%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }
    
        &__item {
            margin: 1rem;
            width: 70%;
        }
    
        &__link {
            &:link,
            &:visited {
                font-size: 3rem;
                padding: 1rem 2rem;
                color: $color-white;
                transition: all .4s;
                background-color: $color-secondary-dark;
            }
        }

        &__button:hover &__icon::before {
            top: -1rem;
        }
    
        &__button:hover &__icon::after {
            top: 1rem;
        }
    
        &__checkbox:checked + &__button &__icon {
            background-color: transparent;
        }
    
        &__checkbox:checked + &__button &__icon::before {
            top: 0;
            transform: rotate(135deg);
        }
    
        &__checkbox:checked + &__button &__icon::after {
            top: 0;
            transform: rotate(-135deg);        
        }

    }

   
}

.breadcrumb {
    display: flex;
    list-style: none;
    grid-column: 1 / -1;
    justify-self: center;

    &__item {
        font-family: $font-display;
        font-size: 2rem;
        color: $color-secondary-dark;
        font-weight: 600;
    }

    &__nonlink {
        border: 1px solid $color-secondary-dark;
        padding: 0.2rem;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-secondary-dark;
        padding: 0.2rem;
    }

    &__link:hover {
        border-bottom: 1px solid $color-secondary-dark;
    }

    &__item+&__item:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }
}